.headcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
nav{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
   /* background-color: white;*/
}
nav a {
    text-decoration: none;
    color:rgb(73, 73, 73);
}
div a{
    text-decoration: none;
}
